.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-pink {
  color: #f8c9d4;
}

.bg-pink {
  background-color: #FFF3F3;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  box-shadow: 2px 4px 10px rgba(131, 15, 36, 0.15);
}

.bg-treatment {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #FFDDDD5E;
  max-height: 725px;
  overflow-y: auto;
}

.scroll-modal {
  overflow-y: auto

}

.treatment-vet {
    background-color: #FFDDDD5E;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    max-height: 782px;
    max-width: 40%;
    overflow-y: auto;
}

.upcoming-appointments {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  max-height: 150px;
  overflow-y: auto;
}
.hidden_scrolling {
  overflow-y: hidden !important;
}

.prem_diagnsosis {
  max-height: 180px !important;
}

.button {
  background-color: #DA9A9A;
  margin: 5px;
}

.bg-table {
  padding: 8px 12px;
  width: 100%;
  background-color: rgb(253, 230, 230);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 315px;
  border-radius: 10px;
}

.bg-vet {
  padding: 8px 12px;
  width: 100%;
  background-color: rgb(253, 230, 230);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  /*overflow-y: auto;*/
  max-height: 700px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c6a6a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9e6e6e;
  border-radius: 10px;
}

input[type="checkbox"] {
  accent-color: #bf3963;
}

.pet-card {
  width: 50%;
  height: 50%;
}


.uniq-table {
  width: 100%;
  border-collapse: collapse;
}


.uniq-table td, .uniq-table th {
  padding: 8px 12px;
  width: 43%;
  background-color: rgba(241, 202, 202, 0.49);
  border-bottom: 10px solid #FDE6E6FF;
}

.table-right-end td:last-child {
  text-align: right !important;
}

/*.table-right-end tr:last-child th {*/
/*  text-align: right !important;*/
/*}*/


.cells {
  background-color: #E2C9C9;
}

.table-button {
  float: right;
}


.container {
  max-width: 100%;
  padding: 20px;
}


.btn-no-border {
  border: none !important;
}


.element-space {
  margin-bottom: 20px;
}

.scrolling {
  overflow-y: auto;
  max-height: 800px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(205, 154, 158);
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(67, 13, 13, 0.4);
  z-index: 1000;
}

header h1 {
  color: #833D3B;
}

.menu-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 160px;
  z-index: 999;
}

.menu-dropdown button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-dropdown button:hover {
  background-color: #f0f0f0;
}

.menu-dropdown {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 97%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 87vh;

}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

*:not(.rating, .rating *) {
  font-family: 'Arial', sans-serif;
  color: #682020;
}

.vet-appointments {
  max-height: 235px;
  overflow-y: auto;
  overflow-x: hidden;
}

.wards {
  max-width: 50%;
  max-height: 100%;
}

.vet-card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.vet-card h2 {
  padding-left: 30px !important;
  font-weight: bold;
}

.vet-card h5 {
    padding-left: 30px !important;
  font-weight: bold;
  font-style: italic;
}


.vet-card p {
  padding-left: 30px !important;
}

.table-name {
  font-size: 20px;
  font-weight: bold;
  padding-left: 60px !important;
}

.table-appointment {
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 10px;
}


.modal-header {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.modal-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
    color: #883030;
}

.modal-body {
  display: flex;
  gap: 20px;
  background-color: rgba(179, 35, 35, 0.06);
  padding: 10px;
  border-radius: 10px;
}


.modal-body-info p {
  margin-bottom: 0;
  font-size: 14px;
  color: #333;
}

.body-map {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-left: 40px !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form-info {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  font-size: 1.5rem;
  color: #333;
}

.loading-overlay::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(156, 0, 0, 0.5);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 243, 243, 0.9);
  z-index: 1000;
  font-size: 1.5rem;
  color: #dc3545;
  padding: 20px;
  text-align: center;
}

.error-overlay::before {
  content: "⚠️";
  margin-right: 10px;
  font-size: 2rem;
}

.form-button {
  padding: 12px 30px;
  /*font-size: 17px;*/
  border-radius: 4px;
  background-color: #a13f3f;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: rgba(67,13,13,0.5);
}

.modal-form {
  width: 1000px !important;
  max-width: 90% !important;
  background: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-input-group {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  font-size: 14px;
  margin-bottom: 2px;
  color: #777;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /*background-color: #f8efef; */
  background-color: #f8f3f3;
}

.swiper-button-next,
.swiper-button-prev {
  color: #950404;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #cc0000;
}

/*.edit-mod {*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  background-color: #fff;*/
/*  padding: 30px 40px;*/
/*  border-radius: 12px;*/
/*  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);*/
/*  z-index: 1000;*/
/*  width: 400px;*/
/*  max-width: 90%;*/
/*  font-family: 'Arial', sans-serif;*/
/*  color: #333;*/
/*}*/

button {
  padding: 3px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.btn-no-border {
  background-color: #da9a9a;

}

button.btn-no-border:hover {
  background-color: #8a3636;
  color: white;
  transform: translateY(-2px);
}

button.btn-no-border:active {
  transform: translateY(0);
}
