.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-pink {
  color: #f8c9d4;
}

.bg-pink {
  background-color: #FFF3F3;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  box-shadow: 2px 4px 10px rgba(131, 15, 36, 0.15);
}

.bg-treatment {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #FFDDDD5E;
  max-height: 725px;
  overflow-y: auto;
}

.treatment-vet {
    background-color: #FFDDDD5E;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    max-height: 782px;
    max-width: 40%;
    overflow-y: auto;
}

.upcoming-appointments {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  max-height: 150px;
  overflow-y: auto;
}
.hidden_scrolling {
  overflow-y: hidden !important;
}

.prem_diagnsosis {
  max-height: 180px !important;
}

.button {
  background-color: #DA9A9A;
  margin: 5px;
}

.bg-table {
  padding: 8px 12px;
  width: 100%;
  background-color: #FFDDDD5E;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 315px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c6a6a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9e6e6e;
  border-radius: 10px;
}

input[type="checkbox"] {
  accent-color: #bf3963;
}

.pet-card {
  width: 50%;
  height: 50%;
}


.uniq-table {
  width: 100%;
  border-collapse: collapse;
}


.uniq-table td, .uniq-table th {
  padding: 8px 12px;
  width: 43%;
  background-color: rgba(226, 201, 201, 0.49);
  border-bottom: 10px solid #fff3f3;
}

.cells {
  background-color: #E2C9C9;
}

.table-button {
  float: right;
}


.container {
  max-width: 100%;;
  padding: 20px;
}

.btn-no-border {
  border: none !important;
}


.element-space {
  margin-bottom: 20px;
}

.scrolling {
  overflow-y: auto;
  max-height: 800px;
}

header {
  background-color: rgba(189, 120, 125, 0.72);
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(67, 13, 13, 0.4);
}

header h1 {
  color: #833D3B;
}

.menu-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 160px;
  z-index: 999;
}

.menu-dropdown button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-dropdown button:hover {
  background-color: #f0f0f0;
}

.menu-dropdown {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 97%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 87vh;

}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

* {
  font-family: 'Arial', sans-serif;
}
