.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-pink {
  color: #f8c9d4;
}

.bg-pink {
  background-color: #FFF3F3;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.bg-treatment {
  background-color: #FFDCDC;
}

.upcoming-appointments {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: #DA9A9A;
  margin: 5px;
}

.bg-table {
  padding: 8px 12px;
  width: 60%;
  background-color: #FFDDDD5E;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.pet-card {
  width: 50%;
  height: 50%;
}


.uniq-table {
  width: 100%;
  border-collapse: collapse;
}


.uniq-table td, .uniq-table th {
  padding: 8px 12px;
  width: 43%;
  background-color: rgba(226, 201, 201, 0.49);
  border-bottom: 10px solid #fff3f3;
}

.cells {
  background-color: #E2C9C9;
}

.table-button {
  float: right;
}


.container {
  max-width: 100%;;
  padding: 20px;
}

.btn-no-border {
  border: none !important;
}

.element-space {
  margin-bottom: 20px;
}